*{
    margin:0 ;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    font-weight: normal;
 
}


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');
@import "nav-section";
@import "hello-section";
@import "section-episodes";
@import "section-phone";
@import "section-gallery";
@import "section-topics";
@import "section-news";
@import "footer";


