// *{
//     margin:0 ;
//     padding: 0;
//     text-decoration: none;
//     box-sizing: border-box;
//     list-style-type: none;
//     font-weight: normal;
 
// }


.nav-container{
position: relative;
width: 100%;
height: 44px;
display: flex;
justify-content: space-between;

.logo{
    margin: 10px 0px 10px 16px;
    img{
        width: 24px;
        height: 24px;
    }
}

.check-btn{
    display: none;
}

.list-items{
    width: 100%;
    height: 224px;
    background-color: #0000EC;
    display: none;
    
    .item {
       display: block;
       margin-left: 16px;
       
       
       a{  display: block;
            width: 100%;
           height: 28px;
           color: #FFFFFF;
           font-family: 'IBM Plex Mono', monospace;
           font-size: 16px;
           line-height: 28px;
           text-transform: uppercase;
           text-align: center;
       }

    }

}

.check-menu{

    margin: 16px 19px 16px 0px;
    .fa-times{
        display: none;
    }
}

.check-btn:checked~ .list-items{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:flex-start ;
    position: absolute;
    top: 44px;
    right: 0px;
}

.check-btn:checked~ .check-menu{
    display: none;
}


}

@media screen and (min-width:1440px){
    .nav-container{
        height: 88px;

        .logo{
            margin: 22px 0px 22px 100px;
            img{
                width: 36px;
                height: 36px;
            }
        }
    
        .list-items{
            width: 482px;
            height: 88px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            margin-right: 100px;

            .item{
               
                height: 28px;
                margin: 0px;
                
                a{   width: 100%;
                    height: 28px;
                    display: block;
                  color: #060A24;
                  font-size: 16px;
                  line-height: 28px;

                  &:hover{
                    color: #00F3BB ;
                    text-decoration: line-through;
                    transition: 2s;
                }
                &:hover:active{
                    color: #060A24 ;
                    text-decoration: line-through;
                 
                }

                }
            }
        }
    
        .check-menu{
            display: none;
        }

    }

  

}