.section-four{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;



 .phone-container{

        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .phone{

            width: 320px;
            
        }
    }
  .bottom-section{
     
       
           .come-from{
               width: 284px;
               height: 84px;
               margin: 27px 16px 4px 16px;

                   h2{
                     font-size: 36px;
                     color: #060A24;
                     font-family: 'IBM Plex Sans', sans-serif;
                     line-height: 42px;
                    }
            }
        

       .paragraph{
        widows: 288px;;
        height: 254px;
        margin: 4px 16px 54px 16px;

           p{
             color: #060A24;
             font-family: 'IBM Plex Mono', monospace;
             font-size: 14px;
             line-height: 22px;

            }
            .top-spacing{
             margin-top: 10px;
            }
        
        }

    }

 
    
}



 @media screen and (min-width:1440px){

    .section-four{


        flex-direction: row;
        justify-content: space-between;


      .phone-container{
             width: 457px;
             height:660px;
             margin: 0px 31.2px 64px 200px;

          .phone{
              width: 457px;
              height:660px;
          }
        }

      .bottom-section{
          width:772px;
          height: 312px;
          margin: 20.4px 256px 0px 31.2px;

          
              
              .come-from{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 399px;
                      height: 62px;

                  h2{
                      font-size: 48px;
                    }

                    .donde{
                        margin-right: 10px;
                    }
                }
            

            .paragraph{
                width: 464px;
                height: 204px;
                margin-top: 12px;
                

                p{
                
                   font-size: 16px;
                }
            }


        }




    }
 }
    
    

  
               


