.section-three{
    width: 100%;
    height:1203.5px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    transform: skewY(175deg);
    transform-origin: top right; 
    margin-bottom: -30px;

    
        .epi-container{
            display: flex;
            justify-content: flex-start;
        
        }
        
        .episodios{

            padding-top: 64px;
            margin-bottom: 30px;
            margin-left: 16px;
            width: 157px;
            transform: skewY(-175deg);
            
            
            h2{
                font-weight: normal;
                color:#FFFFFF  ;
                line-height: 42px;
                font-size: 36px;
                font-family: 'IBM Plex Sans', sans-serif;
                

            }


        }
    

.pod-container{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      transform: skewY(-175deg);
      margin-top: 10.5;

    .pods{
        width: 100%;
        margin: 5px 11px;
        max-width: 400px; 

        iframe{
            width: 100%;
            border:0;
        }


    }
}



}



@media screen and (min-width:1440px){
.section-three{
    width: 100%;
    height: 1042px;

    .episodios{
    margin-left: 200px;
    }
    .pod-container{
        width: 1240px;
        height: 536px;
        justify-content: space-between;
        align-content: space-between;
        margin: 72px 100px;
        

        .pods{
            
            max-width:584px;
            height: 232px;
            margin: 0px;
            
        }

    }
}

}