@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap');

$darkblue:#060A24;
$blue:#0000EC;
$light-green:#00F3BB;
$white:#FFFFFF;
$plex-sans:'IBM Plex Sans', sans-serif;
$plex-mono:'IBM Plex Mono', monospace;